body {
  margin: 0px;
  overflow: hidden;
}

.full-page {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url('../app/images/wallhaven-wqqk9p.jpg');
}
.bg2 {
  background-image: url('../app/images/wallhaven-wqr22q.jpg');
}
.bg3 {
  background-image: url('../app/images/wallhaven-dp2q8j.jpg');
}

nav {
  position: fixed;
  right: 2vw;
  top: 50vh;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

nav label {
  display: block;
}

html {
  scroll-behavior: smooth;
}

nav input {
  width: 0px;
  height: 0px;
  border-width: 0px;
  outline: none;
  background-color: transparent;
}

nav label {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  margin: 1rem 0px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

nav label.active {
  border: 0.3rem solid #ff0000;
}
