.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 下面的代码每次更新图片都要重新生成并替换 */

@font-face {
  font-family: 'iconfont'; /* Project id 3341991 */
  src: url('//at.alicdn.com/t/font_3341991_zttdaxbplji.woff2?t=1651567399367')
      format('woff2'),
    url('//at.alicdn.com/t/font_3341991_zttdaxbplji.woff?t=1651567399367')
      format('woff'),
    url('//at.alicdn.com/t/font_3341991_zttdaxbplji.ttf?t=1651567399367')
      format('truetype');
}
