body {
  margin: 0px;
  min-height: 100vh;
}

.top {
  background-color: #eee;
  position: sticky;
  top: 0px;
  left: 0px;
  text-align: center;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  position: sticky;
  bottom: 0px;
  left: 0px;
}

.top > div:first-of-type {
  background-color: #fff;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #333;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 10vh 0px;
}

.logo > div {
  width: 25vw;
  height: 25vw;
  background-image: url(../images/wallhaven-1k2qo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10%;
}

.form {
  padding: 0px 10vw;
}

.control {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  padding: 1vw;
  border-radius: 1vw;
  margin-bottom: 1vh;
}

.control svg {
  height: 1.5rem;
  width: auto;
}

.control > input {
  border-width: 0px;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.code {
  display: flex;
  justify-content: space-between;
}

.code > div:last-of-type {
  border: 1px solid #dcdcdc;
  padding: 1vw;
  border-radius: 1vw;
  margin-bottom: 1vh;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
