/* 精彩主题游 */
.zty {
  /* 宽高，尽量和背景图片高宽比一致 */
  width: 16rem;
  height: 10rem;

  /* 背景设置 */
  background-size: 100% 100%;
  background-position: center center;
  transition: all 0.5s;

  margin: 1rem;

  cursor: pointer;
}

.zty > div {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zty:hover {
  background-size: 110% 110%;
}

/* 差异样式定义 */
.bg1 {
  background-image: url('../images/1.jpg');
}

.bg2 {
  background-image: url('../images/2.jpg');
}

.bg3 {
  background-image: url('../images/3.jpg');
}

.bg4 {
  background-image: url('../images/4.jpg');
}

.bg1 > div {
  background-color: rgba(11, 137, 210, 0.6);
}

.bg2 > div {
  background-color: rgba(61, 12, 220, 0.6);
}

.bg3 > div {
  background-color: rgba(210, 11, 47, 0.6);
}

.bg4 > div {
  background-color: rgba(213, 12, 220, 0.6);
}

/* 主题游的容器排版 */
.zty-box {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

body {
  background-color: #dcdcdc;
}

/* 图文混排 */
.img-text-box {
  width: 22rem;
  margin: 1rem;
  background-color: #fff;
}

.img-text-box img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

.img-text-box img:hover {
  /* 变形：放大 */
  transform: scale(1.1);
}

.img-box {
  /* 限制里面的内容超出的部分不要显示 */
  overflow: hidden;
}

.text-box {
  text-align: center;
  padding: 1rem;
}

/* 第一行 */
.text-box > div:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* 第二行 */
.text-box > div:nth-child(2) {
  padding: 1rem 0px;
}

.btn {
  display: inline-block;
  background-color: #046fe6;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #035ed5;
}
