body {
  background-color: #000;
  color: #fff;
  margin: 0px;
}

/* #id值 表示 页面元素中有属性id="id值"的套用样式 */
#divbg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: -1;
}

/* 内容相关样式 */
.a01 {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.a02 svg {
  width: 20rem;
}

.a03 {
  padding: 5rem;
  background-color: rgba(64, 64, 64, 0.5);
  border-radius: 1rem;
}
