body {
  margin: 0px;
  background-image: url('../images/bg11.png');
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.a1 {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-image: url('../images/bg10.jpg');
  background-size: cover;
  transform: translateX(50%);
  clip-path: polygon(30% 0%, 0% 100%, 70% 100%, 100% 0%);
}

.a1::after {
  background-color: #640073;
  width: 100%;
  height: 100%;
  content: '';
  transform: translateX(95%);
  /* position: absolute; */
}

.a2 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  transform: translateX(5%);
}

.a3 {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  transform: translateX(-5%);
}

.a4 {
  color: #640073;
  font-size: 5vw;
  font-family: 'font1';
  text-shadow: 1vw 1vw 0px rgba(39, 0, 45, 0.6);
  padding: 3rem;
}

/* 自定义字体，慎用，担心侵权 */
@font-face {
  font-family: 'font1';
  src: url('./font1.ttf');
}

@font-face {
  font-family: 'font2';
  src: url('./font2.ttf');
}

.a5 {
  position: fixed;
  top: 15vh;
  right: 15vw;
  font-size: 3.3vw;
  font-family: 'font2';
  color: #640073;
  font-style: italic;
}

.a6 {
  font-size: 2vw;
  position: fixed;
  left: 48vw;
  width: 40vw;
  top: 30vh;
  line-height: 3.5vw;
}

.a7 {
  position: fixed;
  left: 45vw;
  top: 80vh;
  display: flex;
  /* text-align: center; */
  font-size: 2vw;
}

.a7 > div:first-of-type {
  background-color: #7d0692;
  color: #fff;
  padding: 1vw 5vw 1vw 4vw;
  text-shadow: 0px 0px 1.5rem #fff;
  clip-path: polygon(3vw 0%, 100% 0%, calc(100% - 3vw) 100%, 0% 100%);
  transform: translateX(3vw);
  font-family: 'font1';
}

.a7 > div:last-of-type {
  color: #333333;
  background-color: #8a7884;
  padding: 1vw 8vw 1vw 6vw;
  clip-path: polygon(3vw 0%, 100% 0%, calc(100% - 3vw) 100%, 0% 100%);
}
