body {
  margin: 0px;
}

.a1 img {
  display: block;
  width: 100%;
  height: auto;
}

.a1 {
  position: relative;
}

.a1 > div {
  position: absolute;
}

.a1 > div:nth-of-type(1) {
  top: 1vw;
  left: 0px;
  color: #000;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
}

.a1 > div:nth-of-type(2) {
  bottom: 1vw;
  left: 0px;
  color: #000;
  width: 100%;
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
}

.a1 > div:nth-of-type(3) {
  background-color: #644b82;
  color: #fff;
  top: 45%;
  left: 5vw;
  font-size: 4vw;
  padding: 1vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.a2 {
  text-align: center;
  padding: 0.5rem;
  font-size: 3rem;
}

.a3 {
  background-color: #a189cf;
  margin: 0.5rem;
}

.a3 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.a3 > div:first-of-type {
  padding: 1rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.a4 {
  display: flex;
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
}

.a4 > div {
  margin: 2rem 5rem;
}

.a5 {
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.a5 > div:nth-of-type(3) {
  text-align: center;
  position: relative;
  height: 3vw;
}

.a5 > div:nth-of-type(3)::after {
  content: '';
  width: 4.5vw;
  height: 0.5rem;
  background-color: #a189cf;
  position: absolute;
  top: 1.8rem;
  left: calc(50% - 2.5vw);
  z-index: 0;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.a5 > div:nth-of-type(3) > div {
  position: absolute;
  left: calc(50% - 2.5vw);
  top: 0px;
  z-index: 10;
}

.a6 {
  margin: 1rem 0.5rem;
  background-color: #a189cf;
  padding: 1rem;
}

.a6 img {
  display: block;
  width: 100%;
  height: auto;
}

.a6 > div:first-of-type {
  font-size: 2rem;
  padding: 0px 0px 1rem 3rem;
}

.a6 > div:last-of-type {
  display: flex;
  background-color: #fff;
  padding: 5rem 2rem;
}

.a6 > div:last-of-type > div:first-of-type {
  flex: 7;
  margin-top: 8vw;
}

.a6 > div:last-of-type > div:last-of-type {
  flex: 3;
}

.a7 {
  display: flex;
  font-size: 2vw;
  align-items: center;
  margin: 2vw 5vw 0px 2vw;
}

.a7 > div:nth-of-type(1) {
  flex: 2;
}

.a7 > div:nth-of-type(2) {
  flex: 7;
}

.a7 > div:nth-of-type(3) {
  flex: 1;
}

.a8 {
  border-radius: 1vw;
  background-color: #dcdcdc;
  height: 2vw;
  margin: 0px 1vw;
}

.a8 > div {
  height: 2vw;
  border-radius: 1vw;
}

.c1 {
  width: 95%;
  background: linear-gradient(to right, #a189cf, #5627ad);
}

.c2 {
  width: 97%;
  background: linear-gradient(to right, #4a2393, #170041);
}

.c3 {
  width: 84%;
  background: linear-gradient(to right, #cfa089, #8c4b2a);
}

.c4 {
  width: 96%;
  background: linear-gradient(to right, #48b526, #1a6b02);
}

.c5 {
  width: 70%;
  background: linear-gradient(60deg, #cf89ab 20%, #761744 80%);
}
