body {
  margin: 0px;
  background-color: #dcdcdc;
}

.container {
  background-color: #fff;
  width: 70vw;
  min-width: 1024px;
  margin: 2rem auto;
  box-shadow: 0px 0px 2rem #999;
}

.a01 {
  display: flex;
  align-items: center;
  background-color: #434e5e;
}

.a01 img {
  display: block;
  width: auto;
  height: 18rem;
}

.a02 {
  flex: 1;
  color: #dcdcdc;
  padding: 1rem 2rem;
}

.a02 svg {
  width: 1rem;
  height: auto;
}

.a02 > div:nth-of-type(1) {
  font-size: 2rem;
  color: #fff;
  margin: 1rem 0px;
}

.a02 > div:nth-of-type(2) {
  font-size: 1.5rem;
  color: #ddd;
  margin: 1.2rem 0px;
}

.a02 > div:nth-of-type(3),
.a02 > div:nth-of-type(4) {
  font-size: 1.2rem;
  margin: 0.5rem 0px;
}

.a03 {
  margin-right: 2rem;
}

.a03 a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 1.2rem;
}

.a03 svg {
  width: 1.2rem;
  height: auto;
}

.a03 > div {
  margin: 1rem;
}

.a04 {
  padding: 2rem;
}

.a04 > div:first-of-type {
  border-bottom: 2px solid #999;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.a04 > p {
  line-height: 1.5rem;
  word-break: keep-all;
  color: #555;
}

.a05 {
  display: flex;
  padding: 2rem;
}

.a05 > div:first-of-type {
  flex: 3.5;
  margin-right: 1rem;
}

.a05 > div:last-of-type {
  flex: 1;
}

.a06 {
  padding: 1rem 0px;
  border-bottom: 1px solid #434e5e;
  font-weight: bold;
  font-size: 1.1rem;
}

.a07 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem 0px;
  color: #555;
}

.a08 {
  color: #666;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.a08 > div:last-of-type {
  background-color: #dcdcdc;
  height: 0.7rem;
  border-radius: 0.2rem;
}

.a08 > div:last-of-type > div {
  background-color: #434e5e;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  height: 100%;
}

.a09 {
  margin: 0.5rem 0px;
}

.a09 > div:nth-of-type(2) {
  margin: 0.3rem 0px;
  font-size: 0.8rem;
  color: #555;
}

.a09 > div:nth-of-type(3) {
  font-size: 0.7rem;
  color: #777;
}

.a10 {
  margin-top: 1rem;
  display: flex;
}

.a10 > div:first-of-type {
  padding: 3px 0.5rem 0px 0px;
}

.a10 p {
  font-size: 0.8rem;
  color: #777;
}

.a11 {
  margin: 0.3rem 0px;
  color: #555;
  font-size: 0.8rem;
}

.a12 {
  display: flex;
}

.a12 > div:first-of-type {
  width: 1rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.a12 > div:first-of-type > div:first-of-type {
  width: 2px;
  background-color: #889ab4;
}

.a12 > div:first-of-type span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  background-color: #fff;
  border: 0.3rem solid #434e5e;
  border-radius: 50%;
}

.a12 > div:last-of-type {
  flex: 1;
  margin-bottom: 2rem;
}

.a13 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.a13 > div:first-of-type {
  color: #434e5e;
}

.a13 > div:last-of-type {
  font-size: 0.8rem;
  color: #576477;
}

.a14 {
  font-size: 0.8rem;
  color: #999;
}

.a12 p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #576477;
}

ul {
  color: #576477;
}

.a15 {
  margin: 0.5rem 0px;
}

.a15 span {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #434e5e;
  color: #fff;
  font-size: 0.7rem;
}

.a16 {
  text-align: center;
  color: #434e5e;
  margin: 3rem;
  font-size: 0.8rem;
}

.a16 a {
  color: #434e5e;
}
