/* http://demo.mobanwang.com/mb/lo202201/202201026/html/index.html */
body {
  margin: 0px;
}

* {
  word-break: break-all;
}

/* 第一行 */
.a1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #09c3e7;
  color: #000;
  position: sticky;
  left: 0px;
  top: 0px;
}
.a1 img {
  width: 2rem;
}

/* 标题介绍 */
.a2 {
  background-image: url(../images/img29.jpg);
  background-size: cover;
  color: #fff;
}

.a2 > div {
  background-color: rgba(7, 1, 16, 0.8);
  padding: 6rem 1rem 4rem 1rem;
}

.a2 > div > div:nth-child(1) {
  font-size: 2rem;
  margin: 1rem 0px;
  font-weight: bold;
}

.a2 > div > div:nth-child(2),
.a2 > div > div:nth-child(3) {
  margin: 1rem;
}

.a2 span {
  display: inline-block;
  border: 2px solid #fff;
  padding: 1rem;
}

.a3 {
  background-color: #000;
  padding: 5rem 1rem;
}

.a3 .icon {
  display: block;
  width: 100%;
  height: auto;
}

.a3 > div {
  display: flex;
  align-items: center;
}

.a3 > div > div:first-of-type {
  flex: 1;
}

.a3 > div > div:last-of-type {
  flex: 9;
  padding-left: 1rem;
}

.a3 .title {
  font-weight: bold;
  color: #09c3e7;
}

.a3 .text {
  color: #777;
}

.a4 {
  background-color: #eee;
  color: #444;
  padding: 5rem 1rem;
}

.a4 > div:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  word-break: keep-all;
}

.a5 {
  background-color: #000;
  color: #888;
  padding: 5rem 1rem;
}

.a5 > div:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

.a6 {
  margin-bottom: 1rem;
}
.a6 > div:first-of-type {
  margin: 0.3rem 0px;
}
.a6 > div:last-of-type {
  background-color: #fff;
}
.a6 > div:last-of-type > div {
  background-color: #09c3e7;
  color: #fff;
  text-align: right;
  padding-right: 1rem;
}

.w70 {
  width: 70%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w65 {
  width: 65%;
}

.a7 {
  padding: 5rem 1rem;
}

.a7 > div:first-of-type {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.a8 {
  padding: 5rem 1rem;
  background-color: #000;
  color: #666;
  position: relative;
}

.a8 > div:first-of-type {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.a8 > span:first-of-type {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 1rem);
}

.a9 {
  display: flex;
}

.a9 > div:first-of-type {
  width: 10vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.a9 > div:last-of-type {
  flex: 1;
  background-color: #1e2431;
  padding: 2rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  position: relative;
  margin-bottom: 2rem;
}
.a9 > div:last-of-type > div:first-of-type {
  color: #09c3e7;
  font-size: 1.5rem;
  word-break: keep-all;
}

.a9 > div:last-of-type p {
  line-height: 2rem;
}

.a9 > div:first-of-type > div:first-of-type {
  width: 0px;
  height: 100%;
  border: 2px solid #1e2431;
}

.a9 > div:first-of-type > span {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -0.5rem;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 5px solid #fff;
}

.a10 {
  position: absolute;
  width: 0.6rem;
  height: 1.2rem;
  background-color: #1e2431;
  top: 1rem;
  left: -0.6rem;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.c1 {
  background-color: #00a651;
}
.c2 {
  background-color: #21a9e1;
}
.c3 {
  background-color: #ee4749;
}
.c4 {
  background-color: #fad839;
}

.a11 {
  width: 10vw;
  height: 10vw;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: -5px;
  border: 5px solid #fff;
}

.a12 {
  margin: 4rem 0px;
}
.a12 > span {
  display: inline-block;
  border: 1px solid #09c3e7;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #09c3e7;
}
