.title {
  padding: 1rem;
}

/* 图片自适应容器大小 */
.img-box {
  margin: 1rem 20vw;
}

.img-box > img {
  display: block;
  width: 100%;
  height: auto;
}

/* 输入框 */
.input-box {
  margin: 1rem 3rem;
}
.input-box > input {
  outline: none;
  border-width: 0px;
}
.input-box > span {
  /* inline-block表示保留行内的特征的同时可以设置盒模型样式 */
  display: inline-block;
  width: 5rem;
}

/* 按钮 */
.btn {
  background-color: #0000ff;
  color: #fff;
  margin: 1rem 3rem;
  padding: 0.6rem;
  border-radius: 1.5rem;
}
