/* 
  http://demo.mobanwang.com/mb/lo202209/202209055/html/index.html
  http://demo.mobanwang.com/mb/lo202205/202205064/html/index.html
*/

body {
  margin: 0px;
  background-color: #eee;
}

/* 整体内容容器 */
.container {
  background-color: #fff;
  width: 75vw;
  margin: 3rem auto;
  box-shadow: 0px 0px 1rem #fff;
}

.a01 {
  background-color: #434e5e;
  color: #777;
  display: flex;
  align-items: center;
}

.a01 img {
  display: block;
  width: auto;
  height: 15rem;
}

.a02 {
  flex: 1;
  padding-left: 2rem;
}

.a02 > div:nth-of-type(1) {
  color: #ddd;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0px;
}

.a02 > div:nth-of-type(2) {
  color: #ccc;
  font-size: 1.2rem;
  margin: 1rem 0px;
}

.a02 > div:nth-of-type(3),
.a02 > div:nth-of-type(4) {
  margin: 0.5rem 0px;
}

.a03 {
  padding-right: 1rem;
}

.a03 > div {
  margin: 1rem;
  font-size: 0.8rem;
  color: #ddd;
  display: flex;
  align-items: center;
}

.a03 svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.a04 {
  padding: 2rem;
}

.a05 {
  font-size: 1.2rem;
  font-weight: bold;
}

.a06 {
  background-color: #434e5e;
  height: 2px;
  margin: 1rem 0px;
}

p {
  color: #71839d;
}

.a07 {
  display: flex;
  padding: 2rem;
}

.a07 > div:first-of-type {
  flex: 3.5;
  margin-right: 1rem;
}

.a07 > div:last-of-type {
  flex: 1;
}

.a08 {
  padding: 1rem 0px;
  border-bottom: 1px solid #434e5e;
  font-size: 1.2rem;
}

.a09 {
  font-size: 0.9rem;
  padding: 1rem 0px;
}

.a10 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.a10 > div:last-of-type {
  height: 0.7rem;
  background-color: #ccc;
  border-radius: 0.3rem;
}

.a10 > div:last-of-type > div {
  background-color: #434e5e;
  height: 100%;
  border-radius: 0.3rem;
}

.a11 {
  margin: 1rem 0px;
}

.a11 > div:nth-of-type(2) {
  font-size: 0.8rem;
  color: #434e5e;
  margin: 0.4rem 0px;
}

.a11 > :nth-of-type(3) {
  font-size: 0.7rem;
  color: #999;
}

.a12 {
  display: flex;
  margin: 1rem 0px;
}

.a12 > div:first-of-type {
  margin: 3px 0.5rem 0px 0px;
}

.a12 p {
  font-size: 0.8rem;
  color: #777;
}

.a13 {
  font-size: 0.8rem;
  margin: 0.5rem 0px;
  color: #444;
}

.a14 {
  display: flex;
}
