/* 
  css选择器 直接可以理解成css样式的作用范围
  .类选择器 表示class属性匹配的元素套用里面的样式
  例如 .abc 表示html页面上class="abc"的元素套用对应的样式
  细节：class里面不需要写.

  html的标记名 表示所有同名的标记套用对应的样式
  例如： div{ 样式... } 表示所有的div元素都会套用样式
  
*/


.abc {
  font-size: 48px;
  color: #ffff00;
}
/* 
  浏览器因为历史原因，body默认设置了一定大小的margin
  造成里面的元素没法填满整个页面
*/
body {
  margin: 0px;
}
