body {
  margin: 0px;
}

/* *表示影响页面上所有的元素 */
* {
  /* 计算高宽的时候包括border */
  box-sizing: border-box;
  /* 强制断行任意单词 */
  word-break: break-all;
}

/* 上方左右菜单布局区域 */
.header {
  /* 左右分散布局 */
  display: flex;
  justify-content: space-between;

  background-color: #222;
  color: #9d9d9d;

  padding: 1rem 5vw;
}

.header span {
  display: inline-block;
  margin-right: 0.5rem;
}

.span1 {
  font-size: 1.2rem;
}

.header span:hover {
  color: #fff;
  cursor: pointer;
}

/* 主标识区域 */
.main {
  padding: 5rem 0px;
  text-align: center;

  background-image: url('../images/bg.png');
  background-color: rgba(72, 4, 54, 0.8);
  color: #fff;
}

.main > div:nth-child(1) {
  font-size: 5rem;
  font-weight: bold;
}

.main > div:nth-child(2) {
  font-size: 2rem;
  margin: 1rem 0px;
}

.btn {
  background-color: #286090;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  /* 阴影,x y z 颜色 */
  box-shadow: 0 0.3rem 0 #23527c;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #23527c;
  cursor: pointer;
}

.alink {
  color: #9d9d9d;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0px;
}

.alink:hover {
  color: #fff;
  text-decoration: underline;
}

/* 副标题区域 */
.second-title {
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
}

.second-box {
  border-bottom: 1px solid #dcdcdc;
  padding: 2rem 5rem;
}

.second-box > div:nth-child(1) {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.second-box > div:nth-child(2) {
  color: #333;
  text-align: center;
}

/* 项目展示区 */
.container {
  padding: 0px 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 21%;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
}

/* 图片自适应 */
.project img {
  width: 100%;
  height: auto;
  display: block;
}

/* 图片文字区域 */
.project-text {
  padding: 1rem 0.5rem;
  text-align: center;
}

.project-text > div:nth-child(1) {
  color: #337ab7;
  font-size: 1.5rem;
  cursor: pointer;
}

.project-text > div:nth-child(1):hover {
  color: #115895;
}

.project-text > div:nth-child(2) {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #777;
}

.project-text > div:nth-child(3) {
  color: #777;
}

/* 下方友情链接区域 */
.bottom-box {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dcdcdc;
  padding: 1rem;
}

.bottom-box > div {
  border-bottom: 1px solid #dcdcdc;
  padding: 1rem;
  display: flex;
}

.logo1 {
  background-color: #563d7c;
  color: #fff;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  display: inline-block;
}

.logo2 {
  color: #563d7c;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.text1 {
  color: #777;
  font-size: 0.8rem;
}

/* 右边链接区域 */
.bottom-right {
  margin-left: 3rem;
  display: flex;
}

.links {
  margin-right: 3rem;
}

.links > div {
  color: #777;
  font-size: 0.8rem;
  cursor: pointer;
}

.links > div:hover {
  text-decoration: underline;
}

.links > div:first-child {
  color: #563d7c;
  font-size: 1rem;
  padding: 0.5rem 0px;
}

.links > div:first-child:hover {
  cursor: default;
  text-decoration: none;
}

/* 备案信息 */
.beian {
  margin-bottom: 2rem;
  text-align: center;
  color: #777;
  font-size: 0.8rem;
}

.beian a {
  display: inline-block;
  color: #777;
  text-decoration: none;
  margin: 0px 0.7rem;
}

.beian a:first-of-type:hover {
  text-decoration: underline;
}

/* 返回顶端 */
.top-box {
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  background-color: #666;
  color: #eee;
}

.top-box a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 0.5rem 0.8rem;
}
