body {
  margin: 0px;
}

/* 上方是logo图片和菜单，左右式布局，垂直居中 */
.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff4fa;
  padding: 0.7rem 2rem;

  border-bottom: 1px solid #d6dfea;
  color: #b6b6b6;
  font-size: 0.7rem;
}

a {
  color: #225592;
  font-size: 0.7rem;
  /* 去掉a的下划线（去掉文本的修饰效果） */
  text-decoration: none;
}

a:hover {
  /* 下划线 */
  text-decoration: underline;
}
