body {
  overflow: hidden;
}

#div1 {
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

.box {
  position: fixed;
  font-size: 2rem;
}

.c1 {
  color: rgb(146, 179, 12);
}

.c2 {
  color: rgb(216, 93, 11);
}

.c3 {
  color: rgb(23, 23, 184);
}

.c4 {
  color: rgb(143, 12, 47);
}