body {
  margin: 0px;
  background-color: #051e3a;
}

.a1 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 10vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.a1 a {
  display: inline-block;
  color: #999;
  text-decoration: none;
  margin: 0px 3vw;
}

.a1 > div:first-of-type {
  font-size: 1.5rem;
}

.a1 a.active {
  color: #fff;
}

.a2 {
  background-image: url('../images/huyingxin/1.jpg');
  background-size: cover;
  box-sizing: border-box;
  padding: 10vw 5vw;
  text-align: center;
  color: #fff;
}

.a2 > div:nth-of-type(1) {
  font-size: 5vw;
}

.a2 > div:nth-of-type(2) {
  font-size: 4vw;
  margin-top: 10vh;
  margin-bottom: 18vh;
}

.a2 > div:nth-of-type(3) {
  font-size: 2vw;
  text-align: right;
  text-transform: uppercase;
}

.tc {
  text-align: center;
}

.a3 {
  color: #fff;
  padding: 1rem;
}

.fs15 {
  font-size: 1.5vw;
}

.fs20 {
  font-size: 2vw;
}

.a4 {
  display: flex;
  justify-content: space-evenly;
}

.a4 img {
  display: block;
  width: 100%;
  height: auto;
}

.a4 > div {
  margin: 2rem;
  width: 35%;
}

.a5 {
  color: #fff;
  font-size: 1.5vw;
}

.a5 > div:first-of-type {
  margin-bottom: 2rem;
  padding: 0px 0.5rem;
  border-left: 0.5rem solid #fff;
}

.a5 > div:last-of-type {
  margin: 2rem 0px;
}

.a6 {
  text-align: center;
  font-size: 1.4vw;
  color: #fff;
}

.a6 > div {
  margin: 1rem;
}

.a6 > div:nth-of-type(3) {
  width: 80vw;
  height: 28vw;
  margin: 0px auto;
}

.a6 img {
  display: block;
  width: 100%;
  height: auto;
}
