body {
  margin: 0px;
}

.a1 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.5rem 0rem;
  justify-content: center;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2;
  min-width: 1366px;
}

.a1 > svg:first-of-type {
  height: 1.8rem;
  width: auto;
  display: block;
  margin: 0px 1rem;
}

.a1 > div:first-of-type {
  font-size: 0.9rem;
}

.a1 > div:first-of-type > span {
  display: inline-block;
  margin: 0px 0.5rem;
}

.a1 > div:nth-of-type(2) {
  font-size: 0.9rem;
  display: flex;
  margin: 0px 0.5rem;
}

.a1 > div:nth-of-type(2) > svg {
  display: inline-block;
  height: 1rem;
  width: auto;
  transform: translateY(0.15rem);
}

.a1 > div:nth-of-type(3) {
  border: 1px solid #dcdcdc;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  margin: 0px 1rem;
}

.a1 > div:nth-of-type(3) svg {
  display: inline-block;
  height: 1rem;
  width: auto;
  margin: 0.1rem 0.2rem 0px 0.2rem;
}

.a1 input {
  border-width: 0px;
  background-color: #ededed;
  outline: none;
  width: 20vw;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.a1 > div:nth-of-type(4) {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1rem;
}

.a1 > div:nth-of-type(4) img {
  border-radius: 50%;
}

.a1 > div:nth-of-type(5) {
  display: flex;
  text-align: center;
  font-size: 0.8rem;
}

.a1 > div:nth-of-type(5) svg {
  height: 1.2rem;
  display: inline-block;
  width: auto;
}

.a1 > div:nth-of-type(5) > div {
  margin: 0px 0.5rem;
}

.a1 > div:nth-of-type(6) {
  background-color: #f06878;
  color: #fff;
  display: flex;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.a1 > div:nth-of-type(6) svg {
  display: inline-block;
  width: auto;
  height: 1.5rem;
}

.a2 {
  width: 1300px;
  margin: 0px auto;
}

.a3 {
  display: flex;
  margin: 1rem 0px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.a4 {
  display: flex;
}

.a4 svg {
  width: 40px;
  display: inline-block;
  height: auto;
}

.a4 > div {
  margin-right: 16px;
}

.a5 span {
  display: inline-block;
  width: 65px;
  padding: 0.3rem 0px;
  background-color: #dcdcdc;
  color: #555;
  border-radius: 0.3rem;
  margin: 0.2rem 0px;
  font-size: 0.8rem;
}

.a6 {
  width: 1px;
  background-color: #dcdcdc;
  height: 70px;
  margin: 0px 0.5rem;
  transform: translateY(2px);
}

.a7 svg {
  display: inline-block;
  width: 1rem;
  height: auto;
  transform: translateY(2px);
}

.a7 span {
  display: inline-block;
  margin: 0px 1rem 0px 0.2rem;
  font-size: 0.8rem;
}

.a7 > div {
  padding: 0.5rem 0px;
}

.a8 {
  display: flex;
  align-items: flex-start;
}

.a8 > div:last-of-type {
  flex: 1;
}

.a9 {
  width: 480px;
  height: 320px;
  background-image: url('./b01.jpg');
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.a8 > div:first-of-type {
  position: relative;
}
/* 选择器a + 选择器b 表示选择器a的兄弟节点中的选择器b */
.a9 + div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  width: 100%;
  color: #dcdcdc;
  box-sizing: border-box;
}

.a10 {
  display: flex;
  margin: 0px 1rem;
  justify-content: space-between;
}

.a11 {
  width: 240px;
  height: 126px;
  background-image: url('./b03.jpg');
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
}

.other {
  background-image: url('./b02.jpg');
}

.a12 {
  width: 240px;
  margin: 8px 0px;
}

.a12 > div:first-of-type {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3em;
  font-size: 0.8rem;
}

.a12 > div:last-of-type {
  font-size: 0.7rem;
  color: #777;
}

.a12 > div:last-of-type > span:first-of-type {
  border: 1px solid #777;
  padding: 1px 3px;
  text-transform: uppercase;
  font-size: 0.5rem !important;
  display: inline-block;
  border-radius: 3px;
}

.a13 {
  width: 240px;
  height: 126px;
  background-image: url('./b03.jpg');
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
}

.a14 {
  width: 240px;
  margin: 8px 0px;
}

.a14 > div:first-of-type {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3em;
  font-size: 0.8rem;
}

.a14 > div:last-of-type {
  font-size: 0.7rem;
  color: #777;
}

.a14 > div:last-of-type > span:first-of-type {
  border: 1px solid #777;
  padding: 1px 3px;
  text-transform: uppercase;
  font-size: 0.5rem !important;
  display: inline-block;
  border-radius: 3px;
}

.a15 {
  margin: 1rem 0px;
  display: flex;
  justify-content: space-between;
}

.a15 .other {
  background-image: url(./b01.jpg);
}

.a16 {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.6rem;
}

.a16 > div:first-of-type {
  background-color: #000;
  height: 0.4rem;
  width: 0.6rem;
  margin: 0px auto;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-bottom: 0.5rem;
}

.a16:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

html,
body {
  /* 锚点跳跃时页面平衡滚动 */
  scroll-behavior: smooth;
}
