/* 相册总容器 */
.pics {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 5rem;
  justify-content: space-evenly;
}
/* 图片容器 */
.pics > div {
  width: 25%;
}

/* 图片自适应 */
.pics img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 1s;
}

/* 相框效果 */
.img-box {
  margin: 0.2rem;
  padding: 0.2rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.2rem;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

/* 效果 */
.img-box:hover {
  border-color: #ff0000;
}

.img-box:hover img {
  transform: scale(1.1);
}

/* 相册自适应的部分 */
@media screen and (max-width: 768px) {
  .pics > div {
    width: 100%;
  }
}

@media screen and (max-width: 999px) and (min-width: 769px) {
  .pics > div {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1000px) {
  .pics > div {
    width: 33.33333%;
  }
}
